body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.data{
    font-size: 0.8rem;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita que el contenido desborde horizontalmente */
}

.full{
    width: 100%;
    height: 670px;
}

.img_light{
    width: 100%;
    background-image:url("./../../public/img/d4pci99-e6fcca49-048a-4b42-a951-e246eecc9062.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img_darck{
    width: 100%;
    background-image:url("./../../public/img/d4pci99-e6fcca49-048a-4b42-a951-e246eecc9062_darck.png");
    background-repeat: no-repeat;
    background-size: cover;
}